# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment files
.env
.env.*.local

# Logs
*.log

# Coverage
coverage/

# Temp
*.tmp

# OneDrive temporary files
~$*
